---
Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -4
ColumnLimit: 120
IndentWidth: 4
SortIncludes: true
PointerAlignment: Left
AlwaysBreakTemplateDeclarations: Yes
NamespaceIndentation: None
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
AlignConsecutiveBitFields:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false
